# Python virtual environment
venv/

# YOLO training outputs
runs/

# Datasets & videos
video/
yolo-dataset/
helmet-detection/

# Model weights
*.pt
*.onnx

# Zipped data
*.zip

# Python cache
__pycache__/
.ipynb_checkpoints/

# OS files
.DS_Store
